certifi==2019.6.16
chardet==3.0.4
confusable-homoglyphs==3.2.0
Django==1.11.23
django-bootstrap3==11.1.0
django-registration==2.4.1
djangorestframework==3.10.1
idna==2.8
pkg-resources==0.0.0
psycopg2==2.8.3
python-decouple==3.1
pytz==2019.1
requests==2.22.0
sqlparse==0.3.0
urllib3==1.25.3
